---
import Layout from '../layouts/Batik.astro'
import AboutHeroImage from '../assets/hero_1.jpg'
---

<Layout
  name="about-us"
  title="Tentang Kami"
  description="Tentang Batik Tin Gundih"
  order={null as never}
  heroImages={[AboutHeroImage]}
>
  <p class="!mb-0 text-center text-4xl font-bold">Sejarah</p>
  <p>
    Gagasan awal dari Batik Tin berawal pada tahun 2020, ketika muncul inisiatif dari warga untuk
    menghadirkan sebuah identitas budaya baru bagi kampung mereka. Ide ini kemudian disampaikan ke
    pihak kelurahan dan disambut dengan antusias. Setelah melalui berbagai tahapan, termasuk
    pelatihan membatik bagi warga setempat, akhirnya pada tahun 2022 Batik Tin resmi diperkenalkan
    kepada publik. Peresmiannya dilakukan oleh Wali Kota Surabaya, Bapak Eri Cahyadi, sebagai bentuk
    dukungan terhadap pelestarian budaya dan pemberdayaan masyarakat melalui seni.
  </p>

  <p>
    Dalam proses pengembangannya, pihak kecamatan, kelurahan, dan perangkat kampung diundang untuk
    ikut serta dalam proses penamaan batik ini. Nama "Batik Tin" sendiri diusulkan oleh Camat
    setempat sebagai simbol kebersamaan antara masyarakat dan perangkat wilayah. Yang menarik,
    desain awal dari Batik Tin justru berasal dari gagasan Ibu Camat yang memiliki ketertarikan kuat
    terhadap seni dan budaya lokal. Hal ini menunjukkan bahwa Batik Tin bukan hanya hasil dari kerja
    kreatif warga, tetapi juga bentuk kolaborasi antara masyarakat dan pemerintah setempat.
  </p>

  <p>
    Meskipun namanya merujuk pada buah tin, motif Batik Tin tidak terpaku pada satu bentuk saja.
    Justru, variasi motif dikembangkan agar lebih dinamis dan mencerminkan keberagaman budaya
    Surabaya. Motif-motif seperti tarian remo, ikon kota Surabaya, hingga motif klasik seperti
    parang juga dihadirkan sebagai variasi, agar Batik Tin bisa lebih kaya makna dan tidak monoton.
    dsb.
  </p>

  <p class="!mb-0 text-center text-4xl font-bold">Visi misi</p>
  <p>
    Batik Tin hadir bukan sekadar sebagai produk kain bermotif, melainkan sebagai perwujudan
    semangat untuk melestarikan salah satu warisan budaya bangsa Indonesia. Visi utama dari Batik
    Tin adalah memperkuat identitas lokal melalui pengembangan batik sebagai medium ekspresi budaya.
    Melalui pelatihan dan keterlibatan masyarakat, Batik Tin juga bertujuan memberikan edukasi
    kepada warga sekitar mengenai nilai historis dan artistik dari tradisi membatik.
  </p>

  <p>
    Lebih dari itu, Batik Tin menjadi sarana pemberdayaan sosial. Dengan terlibatnya warga dalam
    proses produksi, dari menggambar pola hingga mewarnai, masyarakat tidak hanya menjadi penikmat,
    tetapi juga pencipta warisan budaya. Harapannya, Batik Tin bisa menjadi simbol bahwa batik bukan
    hanya milik masa lalu, tetapi juga bagian dari masa depan yang dapat terus berkembang tanpa
    meninggalkan akar tradisinya.
  </p>
</Layout>
